@charset "UTF-8";
/* Global styles
-------------------------------*/
html {
  box-sizing: border-box;
}
*, *::before, *:after {
  box-sizing: inherit;
}
body {
  color: #343434;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
a:hover {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
.content-wrap {
  margin: 0 auto;
  padding: 60px;
  width: 800px;
}
/* Profile
-------------------------------*/
header {
  background: #2F3061;
  color: #F7FFF7;
  text-align: center;
}
/* Projects
-------------------------------*/
.projects {
  background: #F7FFF7;
}
.projects a {
  color: #2F3061;
}
.projects .btn {
  background: #2F3061;
  border-radius: 4px;
  color: #F7FFF7;
  display: inline-block;
  padding: 8px;
  text-decoration: none;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item img {
  float: left;
  margin-right: 20px;
}
.project-item h3 {
  margin-top: 0;
}
.project-item {
  overflow: hidden;
}
/* Work Experience
-------------------------------*/
.work-experience {
  background: #A1C6D7;
}
.job-item {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 2fr;
}
/* Education
-------------------------------*/

/* Contact Info
-------------------------------*/
footer {
  background: #343434;
  color: #F7FFF7;
  text-align: center;
}
.contact-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  display: inline-block;
  padding: 15px;
}